* {
	margin: 0;
}



	.body {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.calculatorBox {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		padding: 1rem;
		width: 10cm;
		
	}

	.formOne {
		display: grid;
		grid-gap: 1rem;
		padding: 1rem;
		margin-top: 1rem;
	}

	.formTwo {
		display: grid;
		grid-gap: 1rem;
		padding: 1rem;
	}

	#answer {
		font-size: 24pt;
	}

	.form-floating>i {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0.65rem 0.65rem;
		transition: filter .2s ease-in-out;
	}
	.form-floating>i:hover {
		filter: brightness(200%);
	}
